{% extends 'base.html' %}
{% load static %}

        
{% block content %}

<div class="row center-align">
    <form method="post" action="" role="form" class="col s12">
    {% csrf_token %}
    {{ form.id }}
    <h3 class="title is-3">パスワードをお忘れですか？</h3>
      <div class="row">
        <div class="input-field col s12">
            <label for="email">メールアドレス</label>
          {{ form.email }}
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
        </div>
      </div>
        <br>
      <button class="btn waves-effect waves-light" type="submit" name="action"><i class="material-icons left">send</i>送信</button>
    </form>
  </div>

{% endblock %}